argon2-cffi
astroid
attrs
backcall
bleach
certifi
cffi
chardet
click
cycler
decorator
defusedxml
docopt
entrypoints
Flask>=2.3.0
gunicorn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jedi
jinja2>=3.1.0
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
lab
lazy-object-proxy
MarkupSafe
matplotlib>=3.8.0
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy>=1.26.0
packaging
pandas>=2.2.0
pandocfilters
parso
pexpect
pickleshare
Pillow>=10.3.0
prometheus-client
prompt-toolkit
ptyprocess
pycodestyle
pycparser
pyflakes
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytz
qtconsole
QtPy
requests
scikit-learn>=1.4.0
scipy>=1.13.0
seaborn>=0.13.2
Send2Trash
simplejson
six
terminado
testpath
threadpoolctl
toml
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug>=3.0.1
widgetsnbextension
wrapt
xgboost
