<!-- Form for file upload with Material Design Bootstrap styling -->
<form class="md-form">
  <div class="file-field">
    <!-- Image preview placeholder -->
    <div class="z-depth-1-half mb-4">
      <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid" alt="Placeholder image">
    </div>
    <!-- File input button -->
    <div class="d-flex justify-content-center">
      <div class="btn btn-mdb-color btn-rounded">
        <span>Choose file</span>
        <input type="file">
      </div>
    </div>
  </div>
</form>